<!--
  Generated template for the FinishAppPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button (click)="dismiss()" ion-button icon-only>
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Finish Appointment</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <h4 class="review-heading" padding>Review Services</h4>
  <div class="services">
    <!-- <ion-list class="app-list" *ngFor="let category of Categories; let i=index;"> -->
    <ion-list class="app-list"  *ngFor="let category of salonServicesCategories; let i=index;" [hidden]="!category.services || category.services.length === 0 || category.enabled_service_cnt === '0' ">
      <!-- <div class="item-border" [style.height]="techservice.services.length * 120 + 'px'">
      </div> -->
      <ion-item-divider>
        {{ category.ssc_name }}
      </ion-item-divider>
      <!-- <div *ngFor="let service of servicesSortedByCat;"> -->
      <div *ngFor="let service of category.services;" [hidden]="service.sser_enabled === '0' || service.sser_enabled === 0">
        <ion-item *ngIf="category.ssc_name.trim()===service.ssc_name.trim();" no-lines>
          <ion-checkbox (ionChange)="calculateAppoCostPrice(service)" [checked]="service.checked" item-start></ion-checkbox>
          <ion-label class="label">
            <p class="service-heading"> {{ service.sser_name }}</p>
            <p class="approx-time">Approx Time: {{ service.sser_time }}</p>
          </ion-label>
          <ion-note item-end="" class="note">
            {{currencySymbol}} {{ service.sser_rate  | number : '1.0-0'}}
          </ion-note>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <!-- <div *ngIf="showmodal">
    <div class="overlay" (click)="closemodal()"></div>
    <div class="modal_content">
      <h3 style="color:white;">Add Notes</h3>
      <ion-textarea [(ngModel)]="notes" style="background-color:white;padding:2px;" rows="5" placeholder="Write Your Notes Here"></ion-textarea>
      <ion-grid style="padding:0px !important;">
        <ion-row>
          <ion-col style="padding:0px !important;" width-50><button (click)="savenotes()" ion-button class="modal-btn" color="secondary">Save</button></ion-col>
          <ion-col style="padding:0px !important;" width-50><button (click)="closemodal()" ion-button class="modal-btn" color="danger">Cancel</button></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div> -->
</ion-content>
<ion-footer>

  <ion-row class="service-footer" *ngIf="shouldshowOffer">
    <ion-col col-4>
      <button text-wrap ion-button (click)="showoffers($event)" class="btnAccept">{{lblSelectedOffer ? lblSelectedOffer
        : 'Apply Offer'}}</button>
    </ion-col>
    <ion-col col-4>
      <button ion-button class="btnReschedule" (click)="presentPrompt()">Add Notes</button>
    </ion-col>
    <ion-col col-4>
      <ion-label>Cost: {{currencySymbol}} {{ appCost | number : '1.1-1' }}</ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="service-footer" *ngIf="!shouldshowOffer">
    <ion-col col-4>
      <button ion-button class="btnReschedule" (click)="presentPrompt()">Add Notes</button>
    </ion-col>
    <ion-col col-3>

    </ion-col>

    <ion-col col-5>
      <ion-label>Cost: {{currencySymbol}} {{ appCost | number : '1.1-1' }}</ion-label>
    </ion-col>
  </ion-row>

  <button ion-button full color="salon" (click)="finishAppointment()">Finish</button>
</ion-footer>