

page-app-info {
    .navBar {
        background-color: rgba(255, 255, 255, 0.10)
    }
    ion-title.headerTitle div {
        color: white;
        font-size: 4.23vw !important;
        text-align: center;
        line-height: 20px !important;
        letter-spacing: 0.3px;
        font-family: $Montserrat-Regular !important;
    }
    .headerTitle{

        // font-family: arista !important; 
        font-family: $Montserrat-Bold !important; 
        font-size: 5.5vw !important;
        text-align: center;
        
        
    }
    .serviceCellSelected {
        background: white !important;
        width: 100% !important;
        background: rgb(235, 235, 235);
        // margin-top: 0pt;
        position: relative;
        z-index: 10;
        // border: 0.5px solid black;
        margin: 10px 0px !important;
        .checkBoxCol {
            position: relative;
            width: 100% !important;
            background: rgb(255, 255, 255);
            // border-right: 1px solid rgb(222, 32, 90);
            //  background: green !important;
            // margin-bottom: 1pt;
            .CheckBox {
                // background: red !important;
                width: 12.7pt;
                height: 12.7pt;
                margin-left: 2pt;
                float: left;
                position: absolute !important;
                top: 54% !important;
                // transform: translateY(-50%) !important;
                // .checkbox-icon {
                //     border-color: rgb(222, 32, 90);
                //     background-color: white;
                // }}
            }
        }
        .serviceNameCol {
            
            background: rgb(255, 255, 255);
            position: relative;
            margin-bottom: 1pt;
            // background: blue !important;
            .serviceName {
                width: 100%; 
                line-height: 22.5pt; // background: white;
                text-align: left !important; // font-family: $Montserrat-SemiBold !important;
                // font-family: $Montserrat-Medium !important;
                font-size: 3.7vw;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(77, 77, 77);
                padding-left: 5px;
            }
            
           
        }
        
       
    }
    .EnterActivationCode {
        font-size: 6.34vw !important;
        font-family:  $Montserrat-SemiBold;
        margin: 10px 12px;
        text-align: center;
        color: rgb(222, 32, 90);
    }

    .clsbtnNext {
        font-size: 4.5vw;
        padding-bottom: 0%;
        background-color: rgb(255, 51, 102) !important; // background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0,rgb(217, 7, 17)), color-stop(1, rgb(234,68,52)));
    }
    ion-item.item.item-block.item-ios.item-checkbox {
        box-shadow: none !important;
        border-bottom: 0px !important;
    }
    .checkbox-ios .checkbox-icon,
    .checkbox-md .checkbox-icon {
        border-color: #fff;
        background-color: #282b1d;
        border-radius: 50%;
        margin-top: -12px !important;
    } 
    ion-checkbox.checkBox {
        box-shadow: none !important;
        border-bottom: 0px !important;
    }

}
