page-login {
    .scroll-content {
        padding-bottom: 0 !important;
    }
    // ion-content {
    //     --overflow: hidden;
    // }
    // .scroll-content {
    //     overflow-y: hidden !important;
    // }
    // .base-login-content {
    //     overflow: hidden;

    //     ::-webkit-scrollbar,
    //     *::-webkit-scrollbar {
    //         display: none;
    //     }
    // }

    .login-header {
        min-height: 15vw;

        .navBar {
            background-color: rgba(255, 255, 255, 0.10);
            height: 100%;
        }

        .headerTitle {
            height: 100%;
            font-family: $Montserrat-Bold !important;
            font-size: 5.5vw !important;
            Color: white;
            position: relative;
            text-align: center;
        }
    }

    // .login-form {
    //     margin: 15% auto;
    // }

    // .loginMessage {
    //     text-align: center !important;
    //     font-size: 4.5vw;
    //     width: 100%;
    //     margin-left: 0%;
    //     margin-right: 0%;
    //     font-family: $Montserrat-Bold !important;
    //     margin-top: 5vw;
    // }

    .btnLogin {
        width: 100%;
        height: 12vw !important;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;

        font-size: 5vw;
        font-family: $Montserrat-Bold !important;
    }

    // .toolbar-title-md,
    // .toolbar-title-ios {
    //     padding: 0 12px;
    //     font-size: 5.5vw !important;
    //     font-weight: 500;
    //     color: #fff;
    //     text-align: center;
    // }

    .txtEmail {
        color: black !important;
        font-size: 3.96vw;
        font-family: $Montserrat-Regular !important;
        min-height: 11vw;
        // here...
        background-color: white !important;
        // margin: 20px auto;
        // height: 10vw;
        border-radius: 5px; // font-family: $montserrat-light;
        padding-left: 2vw;

    }

    .txt-password {
        font-size: 3.96vw;
        font-family: $Montserrat-Regular !important;
        background-color: white !important;
        color: black;
        border-radius: 5px; // font-family: $montserrat-light;
        padding-left: 2vw;
        margin-top: 1vw;
    }

    // New CSS copied from DoctorApp Admin
    .headerTitle div{

        font-family: arista !important; 
        font-size: 21px !important;
        
    }
    .login-form {
        margin: 15% auto;
    }
    .loginMessage {
        text-align: center !important;
        font-size: 17px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        font-family: $Montserrat-Bold !important;
    }
    ion-item.input {
        background-color: white !important;
        margin: 20px auto;
        height: 38px;
        
        border-radius: 5px;
        
        // font-family: 'SF-Pro-Display-light';
    }

    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
      border-bottom: none;
      -webkit-box-shadow: none;
      box-shadow:none;
    }
    
    .item-ios.item-block .item-inner {
        border: none;
    }
    .item.item-block.item-md,
    .item.item-block.item-ios {
        padding-bottom: 0px !important;
    }
    .button-ios {
        font-size: 1.6rem;
        font-weight: 500;
    }
    button.btnLogin span{
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        height: 35px !important;
        font-size: 25px;
        // font-family: 'SF-Pro-Display-Bold' !important;
        font-family: $Montserrat-Bold !important;
    }
    
    .toolbar-title-md,.toolbar-title-ios {
        padding: 0 12px;
        // font-size: 21px !important;
        font-weight: 500;
        color: #fff;
        text-align: center;
        // font-family: 'arista';

    }
    
    .navBar{
        background-color: rgba(255, 255, 255, 0.10)
    }
    ion-input.txtEmail input{
        color: black !important;
        font-size: 15px;

            font-family: $Montserrat-Regular !important;
    }
    
}