<ion-header class="login-header">

  <ion-navbar class="navBar">
    <!-- <ion-title class="headerTitle">BeautyApp</ion-title> -->
    <ion-label class="headerTitle">{{myAppName}}</ion-label>
  </ion-navbar>

</ion-header>
<ion-content   *ngIf="isiOS" padding no-bounce class="base-login-content">
  <!-- <div  class="login-form"> -->
  <!-- <p  class="loginMessage">Please Provide Email and Password <br>to Login</p> -->
  <!-- <br /> -->
  <ion-row center no-padding no-margin>
    <ion-col no-padding no-margin>
      <ion-input class="txtEmail" type="email" placeholder="Email" [(ngModel)]="email" name="email" value="">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row center no-padding no-margin>
    <ion-col no-padding no-margin>
      <ion-input class="txt-password" type="password" placeholder="Password" [(ngModel)]="password" name="password"
        value=""></ion-input>
    </ion-col>
  </ion-row>
  <ion-row center>
    <p hidden class="loginMessage">Please Provide Email and Password<br>to Login</p>
    <br />

    <ion-col>
      <button no-padding ion-button class="btnLogin" color="salon" type="submit" block (click)="loginUser()">Login</button>
    </ion-col>
  </ion-row>



  
</ion-content>

<ion-content padding *ngIf="!isiOS">
  <ion-list class="login-form">
    <p class="loginMessage">Please Provide Email and Password <br>to Login</p>
    <br />
    <form #s="ngForm" (ngSubmit)="loginUser(s)">
      <ion-item class="input">
        <ion-input class="txtEmail" type="email" placeholder="Email" [(ngModel)]="email" name="email" value="">
        </ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-input class="txtEmail" type="password" placeholder="Password" [(ngModel)]="password" name="password"
          value=""></ion-input>
      </ion-item>
      <button class="btnLogin" ion-button color="salon" type="submit" block>Login</button>
    </form>
  </ion-list>
</ion-content>