<ion-tabs *ngIf="valueforngif" [selectedIndex]="setTabIndex">
  <ion-tab [root]="tab1Root" tabTitle="Today" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Appointments" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Messages" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings"  tabIcon="settings"></ion-tab>
</ion-tabs>
