page-force-update {
     div {
         position: relative;
        top: 50% !important;
         transform: translateY(-50%) !important;
        //  background: green;
         letter-spacing: 1px !important;
     }
}
