<!--
  Generated template for the NotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content class="notes-content" padding>
  <!-- <ion-title style="text-align:center;">Add Notes</ion-title> -->

  <ion-card class="notes-card">

    <ion-card-header>
      <h2 style="color:white;">Add Notes</h2>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea [(ngModel)]="notes" style="background-color:white;padding:2px;color:black" rows="5" placeholder="Write Your Notes Here"></ion-textarea>
      <ion-row>
        <ion-col style="padding:0px !important;" col-6><button (click)="savenotes()" ion-button class="modal-btn" color="secondary">Save</button></ion-col>
        <ion-col style="padding:0px !important;" col-6><button (click)="closemodal()" ion-button class="modal-btn" color="danger">Cancel</button></ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>