page-notes {

    ion-content, .content-ios, .content-md {
        background: transparent !important;
    }
    .notes-content {
        background-color: rgba(25, 25, 25, 0.9) !important;
    }
    .notes-content .scroll-content {
        padding-bottom: 0px !important;
    }
    .modal-btn {
        width:100%;
        border-radius:0px;
        margin: 0px;
      }
      .popover-content ion-content {
        // width: 250px !important;
        // left: 50px !important;
        padding: 5px !important;
    }

    .notes-card {
        background: transparent !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important;
        padding-top: 60px !important;
    }

}
