<ion-header>
  <ion-navbar>
    <button ion-button clear (click)="openMenu()" class="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div [ngClass]="{'titlefadeout': !HideonScroll, 'titlefadein': HideonScroll}">
        <img style="width:7.93vw;height:7.93vw; border-radius:50%;float:left;"
          [src]=" baseUrl + selectedTech?.tech_pic "
          onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'">
        <span style="color:white;font-size:16px;line-height: 30px;"> Appointments for Today</span>
      </div>
    </ion-title>
    <ion-buttons end>
      <button (click)="calenderswitch()" class="calender-img" ion-button icon-only>
        <img *ngIf="!calenderview" src="assets/imgs/calView.png" style="
      width: 30px  !important;
      height: 30px !important;
      ">
        <img *ngIf="calenderview" src="assets/imgs/listView.png" style="
      width: 30px  !important;
      height: 30px !important;
      ">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="top-header" [ngClass]="{'contentFadeout': HideonScroll, 'top-header': !HideonScroll}">
    <h2 class="page-heading" (tap)="switchEnviroment($event)">Today </h2>

    <ion-slides class="tech_pic_slides" slidesPerView="3" spaceBetween="10" *ngIf="sal_techs.length > 0">
      <div *ngFor="let item of sal_techs; let i=index;">
        <ion-slide *ngIf="item.tech_status === '1' " [ngClass]="{'tech-hide': item.tech_is_active === '0'}">
          <button class="slide" (click)="getAppointments(item, i)">
            <img
              [ngClass]="{'active': item.tech_id === selectedTech.tech_id, 'inActive': item.tech_id !== selectedTech.tech_id}"
              src="{{techimgUrl}}{{item.tech_pic}}"
              onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'">

            <ion-label text-wrap class="techName" no-padding no-margin no-lines text-wrap>{{item.tech_name}}</ion-label>
          </button>
        </ion-slide>
      </div>
    </ion-slides>
  </div>
  <!-- Second Calendar view  -->
  <div *ngIf="calenderview">
    <div class="day">
      <h3 class="today">Today</h3>
    </div>
    <div *ngIf="appointments.length === 0">
      <p class="empty-appt" *ngIf="!salonIsOff" padding>No Appointments for {{selectedTech?.tech_name}}</p>
      <p class="empty-appt  animated infinite pulse delay-1s" *ngIf="salonIsOff" padding
        [hidden]="appointments.length > 0">Salon is off for today
      </p>
    </div>
  </div>
  <div [style.height]="heightOfCalendar+'px'" [hidden]="!calenderview">
    <div style="margin-left:64px; background:white;width:1px;" [style.height]="heightOfCalendar+'px'">
      <span *ngFor="let time of times; let i=index">
        <div
          style="margin-left:-64px;font-size:20px;font-weight:600;width:100%;height:1px;background:white;position:absolute"
          [style.margin-top]="(i * 4) +'px'" *ngIf="i % 60 == 0">
          <div style="width:94px;margin-left:-15px; transform: rotate(-90deg);margin-top:110px !important">
            {{get12HourFormatFrom24Hour(times[i])}}
          </div>
        </div>
      </span>
    </div>
  </div>
  <div [hidden]="!calenderview" [style.margin-top]="-(heightOfCalendar-breakTimeY)+'px'"
    style="position:absolute; background:rgb(217,54,61); margin-left:65px; width:100%"
    [style.height]="breakTimeHeight+'px'">
  </div>
  <div [hidden]="!calenderview" *ngFor="let appo of appointments; let i = index"
    [style.margin-top]="getMarginTop(appo)+'px'"
    style="border-bottom: 2px solid white;width:100%; color:white; position:absolute; right:0px; left:65px; background:rgba(255,255,255,0.1);"
    [style.height]="getAppoHeight(appo)+'px'">
    <div [style.margin-top]="appo.app_est_duration <=15 ? '' : appo.app_est_duration / 2 +'px'">
      <ion-row class="listViewAppoContainer" [style.height]="getAppoHeight(appo)+'px'">
        <ion-col col-7 class="leftContainer">
          <!-- <ion-avatar hidden  item-left class="cal-cust-img"> -->
          <img hidden class="cal-cust-img" src="{{custimgUrl}}{{appo.cust_pic}}"
            onError="this.src='./assets/imgs/user.png'">
          <!-- </ion-avatar> -->


          <div class="cal-cust-name">
            <p class="custName">{{appo.cust_name}} ({{getFromattedTime(appo?.app_start_time)}})</p>
            <!-- <p class="appoDuration">{{appo.app_est_duration}} Minz</p> -->
            <p style="margin-left:10px;" [hidden]="appo.app_est_duration <= 20">{{appo.app_services}}</p>
          </div>
        </ion-col>
        <ion-col col-3 class="rightContainer">
          <ion-badge color="secondary">
            {{appo.app_status}}
          </ion-badge>
          <button hidden (click)="callToCust(appo.cust_phone)" class="cal-phone-btn" ion-button icon-only>
            <ion-icon class="cal-phone-icn" name="ios-call">
            </ion-icon>
          </button>
          <!-- <div [hidden]="appo.app_est_duration <= 20">  {{appo.p_imageUrl}} </div> -->
          <img class="pinImageCalView" [hidden]="appo.app_est_duration <= 20" *ngIf="appo.p_imageUrl"
            [src]="appo.p_imageUrl" (click)="pinImageTapped(appointment)">
        </ion-col>
      </ion-row>
    </div>
  </div>
  <!-- First listing view  -->
  <div *ngIf="!calenderview">
    <div class="day">
      <h3 class="today">Today</h3>
    </div>
    <div *ngIf="appointments.length === 0">
      <p class="empty-appt" padding>No Appointments for {{selectedTech?.tech_name}}</p>
    </div>
  </div>
  <div *ngIf="appointments.length > 0 && !calenderview">
    <div *ngFor="let appointment of appointments;">
      <app-appointment-detail
        *ngIf="appointment.app_status !== 'rejected' && appointment.app_status !== 'deleted' && appointment.app_status !== ''"
        [selectedTech]="selectedTech" [serviceCategories]="serviceCategories" [salonData]="salonData"
        [techServices]="techServices" (rescheduleApp)="rescheduleAppointment($event)" [appointment]="appointment"
        (appointmentRefresh)="refreshAppointment($event)" [appointments]="appointments">
      </app-appointment-detail>
    </div>
  </div>
  <ion-fab bottom right (click)="btnMakeAppointment()">
    <!-- <img src="assets/img/addButton.png"> -->
    <img src="assets/imgs/addButton.png" style="
                    width: 13.87vw  !important;
                    height: 13.87vw !important;
                    ">
  </ion-fab>
</ion-content>