<div *ngIf="prevAppointments.length > 0" style="margin-left:15px;">
  <!-- <div showWhen="android" class="android-border" [style.height]="prevAppointments.length * 191 + 'px'">
  </div>
  <div showWhen="ios" class="ios-border" [style.height]="prevAppointments.length * 191 + 'px'">
  </div> -->
  <p class="prev-app">Previous Appointment</p>

  <ion-row class="previous-appointment-row" no-padding no-margin *ngFor="let prevapp of prevAppointments;">
    <ion-col no-padding no-margin class="col-left-image">

      <img class=img-tech-pic src="{{ techimgUrl }}{{ prevapp?.tech_pic }}"
        onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'">

    </ion-col>
    <ion-col no-padding no-margin>
      <ion-label no-padding no-margin text-wrap>With "{{ prevapp?.tech_name }}"</ion-label>
    </ion-col>
    <ion-col no-padding no-margin col-2>
      <span class="prev-app-date">{{getFromattedTime(prevapp?.app_start_time)}}</span>

    </ion-col>
  </ion-row>
</div>