
<ion-header>
  <ion-navbar>
    <button  ion-button clear class="menuButton"  menuToggle >
        <ion-icon name="menu"></ion-icon>  
    </button>
</ion-navbar>

  
</ion-header>
<ion-content  >

    <h2 class="page-heading" *ngIf="valueforngif" >Settings </h2>
    <ion-card class="mainCard" >
      <ion-item class="autoAccept" >
        <ion-label class="lblAutoAccept" >Auto Accept Appointment </ion-label>
        <ion-toggle  class="toggle-light" [(ngModel)]="toggleAutoAccept"  ></ion-toggle>
        
      </ion-item>
      
      <ion-item>
        <ion-label class="lblAutoAccept" >24 Hours Format</ion-label>
        <ion-toggle [(ngModel)]="toggletwentyFourHours" toggle-class="toggle-light"  ></ion-toggle>
      </ion-item>
      <!-- <ion-item no-line style="border-bottom: 0px !important; border-bottom-color: transparent !important;"> -->
        <ion-row style="margin-top:1.7vh">
          <ion-col col-9 no-padding no-margin>
            
            <ion-label no-padding no-margin class="lblAutoAccept" text-wrap  >Show Appointment for the number of days</ion-label>
          </ion-col>
          <ion-col col-3 no-padding no-margin>
            
            <ion-input maxlength="2" [(ngModel)]="futureAppoDays" class="txtfutureAppoDays" type="tel" ></ion-input>
          </ion-col>
        </ion-row>
        
      <!-- </ion-item> -->
      
      <!-- <button ion-button  class="btnSubmit" (click)="btnMakeAppo()" >make appo</button> -->
  </ion-card>
  <button ion-button  class="btnSubmit" (click)="btnSubmitTapped()" >Submit</button>
  <!-- <ion-label id="test" i=index  > {{data[0]}}  {{data[3]}}  </ion-label >   
    <div id="d"></div> -->
</ion-content>