page-slots-view {
    .login-header {
        min-height: 15vw;
        .navBar {
            background-color: rgba(255, 255, 255, 0.10);
            height: 100%;
        }
        .headerTitle {
            height: 100%;
            position: relative;
            text-align: center;
            color: white;
            font-size: 4.23vw !important;
            text-align: center;
            font-family: $Montserrat-Regular !important;
        }
    }
    .navBar {
        background-color: rgba(255, 255, 255, 0.10)
    }
    .toolbar-title.toolbar-title-ios {
        font-size: 4.23vw; // background-color: purple;
    }
    //bothBack (Arrow and Text)
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        font-size: 4.23vw; // background-color: blue
    }
    button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button {
        font-size: 4.23vw; // background-color: blue
    }
    //Back(writtn text)
    span.back-button-text.back-button-text-ios,
    span.back-button-text.back-button-text-md {
        font-size: 4.23vw;
    }
    //backARrow
    // ion-icon.back-button-icon.icon.icon-ios.back-button-icon-ios.ion-ios-arrow-back {
    //     // background-color: brown;
    //     // color: brown;
    // }
    .content-ios,
    .content-md {
        background: white;
    }
    .headerLabel {
        position: absolute;
        bottom: 16.5px;
        left: 13.5px;
        text-align: center;
        font-size: 30px;
        font-weight: medium;
        color: white
    }
    .grid {
        margin-left: 115px !important;
        margin-right: 115px !important;
        margin: 0px auto !important;
        margin-bottom: 50px !important;
    }
    .availableSlotsLabel {
        font-size: 4.23vw;
        text-align: center; // font-weight: 600;
        width: 100%;
    }
    .noSlotAvailable {
        position: fixed;
        top: 50%;
        padding: 15px !important;
        right: 3px;
        color: white;
        font-size: 4.5vw;
        z-index: 100;
        // height: 30px;
        text-align: center;
        width: 100%;
        // line-height: 90% !important;
        margin-bottom: 5%;
        font-family: $Montserrat-Regular;
    }
    .unselectedDate {
        background-color: transparent !important;
        text-align: center;
        border-radius: 50%;
        height: 40px;
        padding-top: 8px;
        width: 40px;
        margin-left: 2px;
        margin-top: 7px;
        font-size: 4.23vw;
        margin-right: 2px;
    }
    // .selectedDate {
    //     background-color: rgb(255, 51, 102) !important; //color($colors, phoneAdminPinkColor, base);
    //     text-align: center;
    //     border-radius: 50%;
    //     height: 40px;
    //     padding-top: 8px;
    //     width: 40px;
    //     margin-left: 2px;
    //     margin-top: 7px;
    //     font-size: 4.76vw;
    //     margin-right: 2px;
    // }
    .button {
        text-transform: none;
    }
    ion-card-header .card-header-ios,
    .card-header-md {
        border: 1px solid white;
        width: 100%;
        background-color: transparent; // padding-left: 5pt;
    }
    .card-header-ios,
    .card-header-md {
        color: white;
        border-width: 1px;
        border-color: white;
        border: 0.5px solid white;
        background-color: transparent !important;
    }
    .item-ios.item-block .item-inner,
    .item-md.item-block .item-inner {
        padding-right: 8px;
        padding-right: 8px;
        border: 0.55px solid #000;
        border-color: purple;
    }
    .clsColumn {
        margin-top: 12px;
        margin-left: 5px;
        margin-right: 5px;
        height: 40px !important;
        border-radius: 2px;
    }
    .lblSlots {
        font-size: 3.43vw;
        font-weight: 600;
        font-family: $montserrat-light;
        margin: 0px !important;
        letter-spacing: 0.3px;
        text-align: center !important;
        line-height: 38px;
        height: 40px !important;
    }
    .lblSelectedSlot {
        text-align: center;
        font-size: 3.43vw;
        font-family: $montserrat-light;
        background-color: color($colors, phoneAdminPinkColor, base) !important;
        ;
        color: white;
        width: 78px !important;
        height: 40px;
        line-height: 40px !important;
        border: 1px solid white;
        margin-left: 2px;
        margin-right: 2px !important;
    }
    .btnNext {
        width: 100%;
        height: 9.6vw;
        align-content: center;
        background-color: color($colors, phoneAdminPinkColor, base);
        margin-top: 6.6vw !important;
        font-size: 4.23vw;
    }
    /* new code pasted from add-appointment page */
    .lblAssignTo {
        text-align: center !important;
        margin-top: 0vw;
        margin-bottom: 7.2vw;
        background: transparent !important;
        line-height: 6.6vw;
        letter-spacing: 1.8px;
        font-size: 4.6vw;
        font-family: $montserrat-light !important;
        width: 100% !important;
    }
    .techCellNormal img {
        border-radius: 50%;
        width: 12.4vw;
        height: 12.4vw;
        text-align: center;
    }
    .techCellBig {
        img {
            border-radius: 50%;
            width: 17.4vw;
            height: 17.4vw;
            text-align: center;
            border: 1.5px solid #ffffff;
            margin-top: 0px !important;
        }
    }
    ion-slides {
        height: 32vw !important;
        // min-height: 33vw;
        // background: green;
    }
    .techName {
        text-align: center !important;
        font-size: 3.17vw;
        letter-spacing: 1.2px;
        line-height: 5.3vw;
        font-family: $montserrat-light;
        // background: chocolate;
        margin-top: 0vw;
    }
    .tech-hide {
        display: none;
    }
}