<ion-header class="login-header">
  <ion-navbar class="navBar">
    <ion-label class="headerTitle">Add Appointment</ion-label>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- <ion-label no-padding no-margin class="lblAssignTo">Assign To:</ion-label> -->


    <ion-slides no-padding no-margin slidesPerView="3" spaceBetween="10" centeredSlides="true">
      <ion-slide no-padding no-margin *ngFor="let tech of techData; let i=index;" [ngClass]="{'tech-hide': tech.tech_is_active === '0'}"
        [hidden]="tech.tech_status === '0' ">
        <div (click)="selectedTechDetailTapped(tech,'',i)" (click)="gotoSlide(i)"
          [ngClass]="{'techCellBig': tech.tech_id === selectedTechId, 'techCellNormal': tech.tech_id !== selectedTechId}">
          <img [src]=" baseUrl + tech.tech_pic"
            onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'">
          <p class="techName">{{tech.tech_name}}</p>
        </div>
      </ion-slide>
    </ion-slides>
    
  <div>
    <calendar [calendarOptions]="calendarOption" (dateSelected)="dateClicked($event)"></calendar>
  </div>

  


  <ion-label *ngIf="techSlots" text-wrap [hidden]="techSlots.length == 0" class="availableSlotsLabel">Available Slots
    For {{selectedDateWithMonthName}}</ion-label>
  <ion-label *ngIf="techSlots && selected_Tech" text-wrap [hidden]="techSlots.length > 0" class="noSlotAvailable">\n
    {{selected_Tech.tech_name}} is not available on {{selectedDateWithMonthName}}\n </ion-label>\n

  <ion-row responsive-sm wrap>

    <ion-col [hidden]="!techSlots" *ngFor="let slot of techSlots let i=index;" col-3>
      <ion-label *ngIf="selectedSlotIndex == i"
        style="color:white;min-height: 8vw ; padding: 0.5vw 1.5vw; background:rgb(255, 51,102)" class="lblSlots"
        (click)="selectedSlot(slot,i)">{{getFormattedSlotTime(slot.ts_start_time)}}</ion-label>
      <ion-label *ngIf="selectedSlotIndex != i"
        style="color:white; border: 1px solid white; min-height: 8vw; padding: 0.5vw 1.5vw; background: rgba(124, 124, 124, 0.5) !important;"
        class="lblSlots" (click)="selectedSlot(slot,i)">{{getFormattedSlotTime(slot.ts_start_time)}}</ion-label>
    </ion-col>
  </ion-row>
  <!-- </div> -->
  <!-- </ion-grid> -->

</ion-content>
<ion-footer>
  <button ion-button class="btnNext" (click)="btnBookAppointmentTapped()">Book Appointment</button>
</ion-footer>