page-offers {
    ion-content,
    .content-ios,
    .content-md {
        background: transparent !important;
    }
    .OfferContentContainer {
        background-color: rgba(25, 25, 25, 0.9) !important;
    }
    .PromotionsCard {
        background: gray !important;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) !important; // margin-top: 60pt !important;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: none;
        border-radius: 10pt;
        ion-card-content {
            margin-top: 0pt;
            margin-top: 2pt;
            margin-bottom: 2pt;
        }
        .lblApplyOffer{
            color:black;
            text-align:center;
            border-bottom: 1px solid black !important;
            padding-bottom: 8pt;
            // background: green;
        }
        
    }
    .popover-content {
        width: 250px !important;
        left: 50px !important;
    }
    .item-block:first-child {
        border: none !important;
    }
    .clsNoneOffer {
        text-align: center !important;
        font-size: 5.29vw;
        font-weight: bold;
        color: black; // color: rgb(3, 209, 216)
    }
    .listingCircle{
        width: 10pt;
        height: 10pt;
        background: black;
        float: left;
        border-radius: 50%;
    }
    .offerItem {
        // width: calc(100% - 40pt);
        font-size: 4.76vw;
        // float: right;
        border-bottom: 1px solid white !important;
        color: black;
        background: transparent;
        padding: 0pt;
        margin: 0pt;
        margin-top: 8pt;
        // margin-bottom: 3pt;
        padding-bottom: 8pt;
        // padding-left: 3pt;
        text-align: left;
    }
    .list-ios>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block {
        border: none !important;
    }
    .list-md {
        margin: 0px;
    }
}