<!--
  Generated template for the OffersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title style="text-align:center;">Offers</ion-title>
  </ion-navbar> -->

</ion-header>


<ion-content class="OfferContentContainer">

  <ion-card class="PromotionsCard">
    <ion-card-header>
      <h2 class="lblApplyOffer" >Apply Offer</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-label style="text-align:center;" *ngIf="!offers">No Offers</ion-label>
      <ion-list no-padding no-margin *ngIf="offers && offers.length > 0">
        <!-- <h4 style="text-align:center;">offers</h4> -->

        <ion-label class="offerItem" (click)="selectoffer('')">Checkout without offer</ion-label>
        <div no-padding no-margin  *ngFor="let offer of offers; let i = index;">
          
          <!-- <ion-label no-padding no-margin class="listingCircle">

          </ion-label> -->
          <ion-label no-padding no-margin *ngIf="offer.so_title !== ''" class="offerItem" (click)="selectoffer(offer)">{{offer.so_title}}</ion-label>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>