calendar {
    .SalonCardScrollContainer {
        background: transparent; // height: 100vh;
        // height: 347pt;
        // height: 100rem auto;
        padding: 0pt !important;
        margin: 10pt 10pt !important; // background: darkcyan;
        // min-height: 100pt;
    }
    .selected-date-with-options {
        background: red !important;
        position: relative;
        top: 50%;
        transform: translateY(-50%)
    }
    .techScrollView {
        // margin-left: 0px !important;
        // margin-right: 100px !important;
        // height: 100%;
        // margin-top: 0px;

    }
    .selectedDateContainer {
        min-width: 18vw; // background: blue;
        .selectedDay {
            font-size: 2.91vw;
            font-weight: 500; // position: absolute;
            // top: 25px; // width:85px;
            text-align: center; // background: green;
            // text-align: center !important;
        }
        .selectedDate {
            font-size: 15vw;
            font-weight: 400; // width: 85px;
            text-align: center; // background: gold;
        }
        .selectedMonthAndYear {
            font-size: 2.91vw;
            font-weight: 500; // position: absolute;
            bottom: 25px; // width: 85px;
            text-align: center; // background: purple;
        }
    }
    .dateCircle {
        text-align: center;
        // background: green !important;
        position: relative;
        // top: 20% !important;
        // transform: translateY(-20%) !important;
        font-size: 3.78vw;
    }
    .calenderSlide{
        // background: yellow !important;
        padding-right: 0px !important;
        margin-right: -10px !important;
    }
}