page-privacy-policy {
  .toolbar-title-md {
    text-align: center;
}
.navBar {
  background-color: rgba(255, 255, 255, 0.1);
}
    .backButton{
        position: absolute;
        // bottom:50px;
        text-align:center;
        font-size:30px;
        // margin-top:30px !important;
        color:white
      }
      .headerLabel{
        position: absolute;
        bottom:16px;
        width: 100%;
        left:13.5px;
        text-align:center;
        font-size:30px;
        font-weight:600;
        color:white;
      }
      .privacy-content {
        font-weight:100;
        font-family: $Montserrat-Regular;
        letter-spacing: 0.5px;
        line-height: 25px;
        text-align: justify;
      }

}
