<ion-header no-line style="border-bottom: 0px !important;">

  <ion-navbar>
    <button ion-button clear class="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
  <h2>Messages</h2>

  <button ion-button class="newNoti" (click)="btnNewNotificationTapped()">New</button>
  <button ion-button class="archivedNoti" (click)="btnArchivedNotificationTapped()">Old</button>


  <ion-card class="sliderContainer">
    <ion-card-content class="slider" id="abc">
    </ion-card-content>

  </ion-card>

</ion-header>


<ion-content padding>

  <ion-label *ngIf="isBtnNewTapped" [hidden]="upcomingAppointments.length > 0" class="noDateAvailable">
    No new message for now
  </ion-label>
  <ion-label *ngIf="!isBtnNewTapped" [hidden]="archivedAppointments.length > 0" class="noDateAvailable">
    No message notifications
  </ion-label>

  <ion-card class="mainCard" *ngFor="let appo of appointmentsDataSource">
    <ion-card-content>
      <button ion-button icon-only class="btnClose" (click)="btnRemoveAppoTapped(appo)">

        <img src={{crossButton}} style="
                              width: 3.78vw;
                              height: 3.78vw;
                              ">

      </button>
      <ion-avatar>
        <img class="custPic" [src]="custImageUrl+ appo.cust_pic" onError="src='assets/imgs/user.png'">
      </ion-avatar>


      <ion-label text-wrap class="lblCustName"> {{appo.cust_name}}</ion-label>
      <ion-label *ngIf="appo.app_start_time" class="lblSTartTime"> {{getFromattedTime(appo.app_start_time)}}
      </ion-label>
      <ion-label text-wrap class="lblServices" style="padding-top:0px;">{{appo.app_services}} </ion-label>

      <ion-row style="width:100% !important">
        <ion-col *ngIf="isBtnNewTapped">
          <button ion-button class="btnAccept"  (click)="btnAcceptTapped(appo)">Accept</button>
        </ion-col>
        <ion-col >
          <button ion-button class="btnReject" (click)="btnRejectTapped(appo)">Reject</button>
        </ion-col>
        <ion-col >
          <button ion-button class="btnReschedule" (click)="btnRescheduleTapped(appo)">Reschedule</button>
        </ion-col>
      </ion-row>

    </ion-card-content>

    <ion-card class="bottomViewCard">
      <ion-row>

        <ion-col class="colTechInfo">
          <a style="color:#fff;text-decoration:none;" href="tel:{{appo.cust_phone}}">
            <img item-left src="./assets/imgs/callnew@3x.png" class="imgTechInCardNotification">
            <ion-label text-wrap item-right class="techName">{{appo.cust_name}} </ion-label>
          </a>
        </ion-col>

        <ion-col class="colTechInfo">
          <img item-left [src]="baseUrl +  appo.tech_pic" class="imgTechInCardNotification" onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'">
          <ion-label text-wrap item-right class="techName">With "{{appo.tech_name}}" </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-card>
  <!-- </div> -->


  <!-- <ng-template #showArchivedAppointments>
    <ion-card class="mainCard" *ngFor="let appo of archivedAppointments">

      <ion-card-content>
        <button ion-button icon-only class="btnClose" (click)="btnRemoveAppoTapped(appo)">

          <img src={{crossButton}} style="
                    width: 3.78vw;
                    height: 3.78vw;
                    ">
        </button>

        <ion-avatar>
          <img class="custPic" [src]="custImageUrls + appo.cust_pic" onError="src='assets/imgs/user.png'">
        </ion-avatar>
       
        <ion-label text-wrap class="lblCustName"> {{appo.cust_name}}</ion-label>
        <ion-label *ngIf="appo.app_start_time" class="lblSTartTime"> {{getFromattedTime(appo.app_start_time)}}
        </ion-label>

        <ion-label style="padding-top:0px;">{{appo.app_services}} </ion-label>
      </ion-card-content>

      <ion-row>
        <ion-col col-6>
          <button ion-button class="btnArchivedReject" (click)="btnRejectTapped(appo)">Reject</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="btnArcivedReschedule" (click)="btnRescheduleTapped(appo)">Reschedule</button>
        </ion-col>
      </ion-row>
      <ion-card class="bottomViewCard">
          <ion-row>
  
            <ion-col class="colTechInfo">
              <a style="color:#fff;text-decoration:none;" href="tel:{{appo.cust_phone}}">
                <img item-left src="./assets/imgs/callnew@3x.png" class="imgTechInCardNotification">
                <ion-label text-wrap item-right class="techName">{{appo.cust_name}} </ion-label>
              </a>
            </ion-col>
  
            <ion-col class="colTechInfo">
              <img item-left [src]="baseUrl +  appo.tech_pic" class="imgTechInCardNotification">
              <ion-label text-wrap item-right class="techName">With "{{appo.tech_name}}" </ion-label>
            </ion-col>
          </ion-row>
        </ion-card>
     
    </ion-card>
  </ng-template> -->






</ion-content>