
<ion-header>

  <ion-navbar>

    <ion-title></ion-title>
    <ion-buttons end >
      <button ion-button (click)="CloseModel()">Close</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <img [src]="pinImage"/>
        </ion-card>

</ion-content>