<!--
  Generated template for the TermsCondPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="terms-cond">
    <h1>Terms of service:</h1>
    <p>Please read these Terms of Service (“Terms”, “Terms of Service”) carefully before using this App (the“Service”) operated
      by DoctorApp (“us”, “we”, or “our”).Your access to and use of the Service is conditioned on your acceptance of and compliance
      with these Terms.These Terms of Service apply to all visitors, users and others who access or use the Service. By accessing
      orusing the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not
      access the Service.</p>
    <h2>Purchases</h2>
    <p>If you wish to purchase any product or service made available through the Service (“Purchase”) you may be asked to supply
      certain information relevant to your Purchase including: name, phone number. You represent and warrant that: The information
      you supply to us is true, correct and complete. You expressly agree that DoctorApp is not responsible for any loss or
      damage arising from the submission of false or inaccurate information.</p>
    <p>We reserve the right to refuse or cancel your order at any time for certain reasons including but not limited to: product
      or service availability, errors in the product or service description or price, error in your order or other reasons.
      You expressly agree that DoctorApp cannot accept any liability for loss or damage arising out of such cancellation.
      We reserve the right to refuse or cancel your order if we suspect fraud or an unauthorized or illegal transaction.</p>
    <h2>Availability, Errors and Inaccuracies</h2>
    <p>We are constantly updating our offerings of products and services on the Service. The products or services available
      on our Service may be mispriced, described inaccurately, or unavailable, and we may experience delays in updating information
      on the Service. You expressly agree that any such offer of a product or service does not constitute a legal offer capable
      of attracting legal consequences.</p>
    <p>We cannot and do not guarantee the accuracy or completeness of any information, including prices, product images, specifications,
      availability, and services. We reserve the right to change or update information and to correct errors, inaccuracies,
      or omissions at any time without prior notice.</p>
    <h2>Accounts</h2>
    <p>When you create an account with us, you must provide us information that is accurate, complete, and current at all times.
      Failure to do so constitutes a breach of the Terms of Service, which may result in immediate termination of your account
      on our Service. You are responsible for safeguarding the password that you use to access the Service and for any activities
      or actions under your password, whether your password is with our Service or a third-party service. You agree not to
      reveal your password to any third party. You must notify us immediately upon becoming aware of any breach of security
      or unauthorized use of your account.</p>
    <h2>Intellectual Property</h2>
    <p>The Service and its original content, features and functionality are and will remain the exclusive property of DoctorApp
      and its licensors. The Service is protected by copyright, trademark, and other laws of both the United Kingdom and
      foreign countries. Our trademarks may not be used in connection with any product or service without the prior written
      consent of DoctorApp.</p>
    <h2>Links to Other Web Sites</h2>
    <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by DoctorApp.We have
      no control over any website we are linked to so we cannot be responsible for safeguarding any information which you
      provide such sites and this privacy statement does not govern such sites. Caution should be exercised when visiting
      linked websites and the privacy statement of the website in question should be examined.</p>
    <p>DoctorApp has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third
      party web sites or services. You further acknowledge and agree that DoctorApp shall not be responsible or liable, directly
      or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on
      any such content, goods or services available on or through any such web sites or services. We strongly advise you
      to read the terms of service and privacy policies of any third-party web sites or services that you visit.</p>
    <h2>Termination</h2>We may terminate or suspend your account immediately, without prior notice or liability, for any reason
    whatsoever, including without limitation if you breach the Terms.Upon termination, your right to use the Service will
    immediately cease. If you wish to terminate your account, you may simply discontinue using the Service. All provisions
    of the Terms which by their nature should survive termination shall survive termination, including, without limitation,
    ownership provisions, warranty disclaimers, indemnity and limitations of liability.
    <h2>Limitation of Liability</h2>In no event shall DoctorApp, nor its directors, employees, partners, agents, suppliers, or
    affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation,
    loss of profits, data, use, goodwill, or other intangible losses, resulting from your access to or use of or inability
    to access or use the Service, any conduct or content of any third party on the Service, any content obtained from the
    Service, unauthorized access, use or alteration of your transmissions or content, whether based on warranty, contract,
    tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such
    damage, and even if a remedy set forth herein is found to have failed of its essential purpose.
    <h2>Disclaimer</h2>Your use of the Service is at your sole risk. The Service is provided on an “as is” and “as available”
    basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited
    to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.
    DoctorApp, its subsidiaries, affiliates, and its licensors do not warrant that: the Service will function uninterrupted,
    secure or available at any particular time or location, any errors or defects will be corrected, the Service is free
    of viruses or other harmful components, the results of using the Service will meet your requirements.
    <h2>Exclusions</h2>Without limiting the generality of the foregoing and notwithstanding any other provision of these terms,
    under no circumstances will DoctorApp ever be liable to you or any other person for any indirect, incidental, consequential,
    special, punitive or exemplary loss or damage arising from, connected with, or relating to your use of the Service, these
    Terms, the subject matter of these Terms, the termination of these Terms or otherwise, including but not limited to personal
    injury, loss of data, business, markets, savings, income, profits, use, production, reputation or goodwill, anticipated
    or otherwise, or economic loss, under any theory of liability regardless of any negligence or other fault or wrongdoing
    (including without limitation gross negligence and fundamental breach) by DoctorApp or any person for whom DoctorApp is
    responsible, and even if DoctorApp has been advised of the possibility of such loss or damage being incurred.
    <h2>Governing Law</h2>These Terms shall be governed and construed in accordance with the laws of United Kingdom without regard
    to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered
    a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining
    provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our
    Service, and supersede and replace any prior agreements we might have between us regarding the Service.
    <h2>Changes</h2>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms of Service at any time. When we do such
      updates we revise the updated date at the bottom of this page. By continuing to access or use our Service after those
      revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you must
      stop using the service.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us.DoctorApp <a style="color:#D90746" href=\ "http://DoctorApp.pk\">http://DoctorApp.pk</a></p>
  </div>
</ion-content>