<ion-header class="login-header">
  <ion-navbar class="navBar">
    <ion-label class="headerTitle">Add Appointment</ion-label>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p class="firstLabel">Enter Phone Number of Customer</p>
  <p class="secondLabel">Starting with 03</p>
  <!-- <ion-input #inputFirstDigit  class="custPhoneNumber" type="tel" maxlength="1" pattern="123" pattren="^[0-9]" [(ngModel)]="custPhoneNumber" (keyup)="OnValueEnter($event.target.value)" ></ion-input> -->

  <ion-input #inputFirstDigit class="custPhoneNumber" [(ngModel)]="custPhoneNumber" (ionChange)="getItems($event)"
    (keyup)="OnValueEnter($event.target.value)" type="tel" maxlength="11" placeholder="Enter Phone Number"></ion-input>

  <ion-card class="mainCard" *ngFor="let cust of customersArray" (click)="customerSelected(cust)">
    <ion-avatar *ngIf="cust.cust_pic">
      <img [src]="searchTechUrl+ cust.cust_pic">
    </ion-avatar>
    <ion-avatar *ngIf="!cust.cust_pic">
      <img src="assets/imgs/user.png">

    </ion-avatar>
    <ion-label class="lblCustName"> {{cust.cust_name}} </ion-label>
    <ion-label class="lblCustPhone"> {{cust.cust_phone}} </ion-label>
  </ion-card>



</ion-content>