page-search-customer {
    .login-header {
        min-height: 15vw;
        .navBar {
            background-color: rgba(255, 255, 255, 0.10);
            height: 100%;
        }
        .headerTitle {
            height: 100%;
            position: relative;
            text-align: center;
            color: white;
            font-size: 4.23vw !important;
            text-align: center;
            font-family: $Montserrat-Regular !important;
        }
    }
    .navBar {
        background-color: rgba(255, 255, 255, 0.10)
    }
    ion-title.headerTitle div {
        color: white;
        font-size: 4.23vw !important;
        text-align: center;
        line-height: 20px !important;
        letter-spacing: 0.3px;
        font-family: $Montserrat-Regular !important;
    }
    .firstLabel {
        color: white;
        background: transparent !important;
        text-align: left;
        font-size: 4.76vw;
        font-family: $Montserrat-SemiBold;
    }
    .secondLabel {
        color: white;
        background: transparent !important;
        font-size: 3.7vw;
        font-family: $Montserrat-Regular !important;
    }
    ion-input.custPhoneNumber input {
        background-color: white;
        color: rgb(154, 154, 160) !important;
        border-bottom: 1px solid rgba(14, 13, 13, 0.1) !important;
        margin: 0px !important;
        width: 100% !important;
        height: 11.37vw !important;
        vertical-align: top;
        padding-left: 5px !important;
        font-size: 4.12vw;
        line-height: 5.8vw !important;
        letter-spacing: 0.3px !important;
        font-family: $montserrat-light !important;
        border-radius: 5px;
    }
    .mainCard {
        background-color: white !important;
        border-radius: 0pt !important;
        margin: 0px 0px 0px 0px !important;
        width: 100% !important;
        img {
            border-radius: 50%;
            width: 13.22vw;
            height: 13.22vw;
            margin-top: 3%;
            margin-left: 3%;
            float: left;
        }
    }
    .lblCustName {
        margin: 13px 8px 11px 0;
        color: rgb(41, 40, 36);
        font-size: 5.34vw;
        margin-left: 10%;
        padding-left: 5%;
        letter-spacing: 0.8px;
        line-height: 7.14vw;
        vertical-align: middle !important;
        font-family: $Montserrat-SemiBold;
    }
    .lblCustPhone {
        color: rgb(41, 41, 38);
        font-size: 3.43vw;
        margin-top: -8px !important;
        padding-left: 5%;
        letter-spacing: 0.5px;
        font-family: $Montserrat-SemiBold !important;
    }
}