<ion-list no-padding no-margin class="mypagelist">

  <div class="collapse up" id="toggle-app-{{appointment.app_id}}" (click)="toggleDetails(appointment.app_id)">
    <ion-icon *ngIf="toggle" class="toggle-icn" name="remove">
    </ion-icon>
    <ion-icon *ngIf="!toggle" class="toggle-icn" name="add">
    </ion-icon>
  </div>
  <div class="app-list">
    <ion-item class="mainCard" *ngIf="appointment.app_status !== 'rejected'">
      <ion-row class="appointmentCard" (click)="toggleDetails(appointment.app_id)">
        <ion-col col-12 class="leftContainer">
          <ion-avatar *ngIf="appointment.cust_pic" item-left class="tech">
            <img [src]=" baseUrl + appointment.cust_pic " onError="this.src='./assets/imgs/user.png'">
          </ion-avatar>
          <ion-avatar *ngIf="!appointment.cust_pic" item-left class="tech">
            <img src="assets/imgs/user.png">
          </ion-avatar>
          <div class="cust-name">
            <h3>{{appointment?.cust_name}}</h3>
            <p>
              <ion-badge color="salon">
                <ion-icon name="ios-clock-outline" style="margin-right:4px; "></ion-icon>
                {{getFromattedTime(appointment.app_start_time)}}
              </ion-badge>
              <ion-badge color="secondary">
                {{appointment?.app_status == 'serving' ? 'Currently Serving' : appointment.app_status}}
              </ion-badge>
            </p>
          </div>
          <!-- <div text-left text-wrap class="lblAppoServices">{{appointment.app_services}}</div> -->
        </ion-col>
        <ion-col hidden no-padding no-margin col-2 class="lblAppoDuration">
          <h4 class="time">{{appointment.app_est_duration}} Mins</h4>
          <img class="pinImage" *ngIf="appointment.p_imageUrl" [src]="appointment.p_imageUrl"
            (click)="pinImageTapped(appointment)">
        </ion-col>
      </ion-row>
      <ion-row (click)="toggleDetails(appointment.app_id)">
        <ion-col>
          <!-- <div text-left text-wrap class="lblAppoServices">{{appointment.app_services}}</div> -->
          <div text-left text-wrap class="lblAppoServices">{{appointment.app_services}}</div>
        </ion-col>
      </ion-row>
      <ion-row [@expand]="state">
        <ion-col col-12>
          <div class="PhoneContainer">
            <a style="color:#fff;text-decoration:none;" href="tel:{{appointment.cust_phone}}">
              <button class="phone-btn" ion-button icon-only>
                <ion-icon class="phone-icn" name="ios-call">
                </ion-icon>
              </button>
              <span class="phone-num">Phone Number: {{appointment.cust_phone}}</span>
            </a>
          </div>
          <div class="appoOperationsContainer"
            *ngIf="appointment?.app_status == 'accepted' || appointment?.app_status == 'pending'">
            <ion-row>
              <!-- <button ion-button class="btnAccept" (click)="startAppointment(apppointment)">Start</button> -->
              <ion-col col-6>
                <button [hidden]="appointment?.app_status == 'finished'" ion-button class="btnReject"
                  (click)="presentConfirmationDialog(appointment)">Remove</button>
              </ion-col>
              <ion-col col-6>
                <button [hidden]="appointment?.app_status == 'finished'" ion-button class="btnReschedule"
                  (click)="rescheduleAppointment(appointment)">Reschedule</button>
              </ion-col>
            </ion-row>
          </div>
          <prev-app [apppointment]="appointment" [salonData]="salonData"></prev-app>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>
</ion-list>