<ion-list no-padding no-margin (click)="toggleDetails(appointment.app_id,$event)">
    <div class="collapse up" id="toggledash-{{appointment.app_id}}" (click)="toggleDetails(appointment.app_id,$event)">
        <ion-icon *ngIf="toggle" class="toggle-icn" name="remove" (click)="toggleDetails(appointment.app_id,$event)">
        </ion-icon>
        <ion-icon *ngIf="!toggle" class="toggle-icn" name="add" (click)="toggleDetails(appointment.app_id,$event)">
        </ion-icon>
    </div>
    <div no-padding no-margin class="app-list">
        <ion-item class="mainCard">
            <ion-row class="appointmentCard" (click)="toggleDetails(appointment.app_id,$event)">
                <ion-col  class="leftContainer">
                    <ion-avatar *ngIf="appointment.cust_pic" item-left class="custPic">
                        <img src="{{custimgUrl}}{{ appointment.cust_pic }}" onError="this.src='./assets/imgs/user.png'">
                    </ion-avatar>
                    <ion-avatar *ngIf="!appointment.cust_pic" item-left class="custPic">
                        <img src="assets/imgs/user.png">
                    </ion-avatar>
                    <div class="cust-name">
                        <h3>{{appointment.cust_name}}</h3>
                        <p>
                            <ion-badge color="salon">
                                <ion-icon style="margin-right:3px; " name="ios-clock-outline"> </ion-icon>
                                {{getFromattedTime(appointment.app_start_time)}}
                            </ion-badge>
                            <ion-badge color="secondary">
                                {{appointment.app_status == 'serving' ? 'Currently Serving' : appointment.app_status }}
                            </ion-badge>
                        </p>
                    </div>
                    <!-- <div text-left text-wrap class="lblAppoServices">{{appointment.app_services}}</div> -->

                </ion-col>
                <ion-col hidden no-padding no-margin col-2 class="lblAppoDuration">
                    <h4 class="time">{{appointment.app_est_duration}} Mins</h4>
                    <!-- <img  src="assets/img/user.png"> -->
                    <img class="pinImage" *ngIf="appointment.p_imageUrl" [src]="appointment.p_imageUrl"
                        (click)="pinImageTapped(appointment)">
                    <!-- <img class="pinImage" *ngIf="!appointment.p_imageUrl" src="https://upload.wikimedia.org/wikipedia/commons/1/1e/Default-avatar.jpg"
                        (click)="pinImageTapped(appointment)"> -->

                    <!-- <img *ngIf="appointment.p_imageUrl" src="appointment.p_imageUrl"> -->
                </ion-col>

            </ion-row>
            <ion-row (click)="toggleDetails(appointment.app_id,$event)">
                <ion-col>
                    <div text-left text-wrap class="lblAppoServices">{{appointment.app_services}}</div>
                </ion-col>
            </ion-row>
            <ion-row [@expand]="state" class="app-row">
                <ion-col col-12>
                    <div class="PhoneContainer">
                        <a style="color:#fff;text-decoration:none;" href="tel:{{appointment.cust_phone}}">
                            <img item-left src="./assets/imgs/callnew@3x.png" class="imgTechInCardNotification">
                            <div class="phone-num">Phone Number: {{appointment.cust_phone}}</div>

                        </a>
                    </div>
                    <div class="app-btns" *ngIf="appointment.app_status !== 'serving'">
                        <ion-row>
                            <ion-col col-4>
                                <button ion-button class="btnAccept"
                                    (click)="startAppointment(appointment)">Start</button>
                            </ion-col>
                            <ion-col col-4>
                                <button ion-button class="btnReject"
                                    (click)="presentConfirmationDialog(appointment)">Remove</button>
                            </ion-col>
                            <ion-col col-4>
                                <button ion-button class="btnReschedule"
                                    (click)="rescheduleAppointment(appointment)">Reschedule</button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div class="finish-app"
                        *ngIf="appointment && (appointment.app_status === 'serving' || appointment.app_status === 'accepted')">
                        <button [hidden]="appointment.app_status !== 'serving'" ion-button class="btnFinishAppointment"
                            (click)="finishAppointment( salonData, techServices, appointment)">Finish</button>

                        <div *ngIf="prevAppointments && prevAppointments.length > 0"
                            style="margin-left:15px;margin-top:10px;">
                            <!-- <p class="prev-app"></p> -->
                            <ion-label class="lbl-previous-appointment">
                                Previous Appointment
                            </ion-label>
                            <ion-row class="previous-appointment-row" no-padding no-margin
                                *ngFor="let prevapp of prevAppointments;">
                                <ion-col no-padding no-margin class="col-left-image">

                                    <img class=img-tech-pic src="{{ techimgUrl }}{{ prevapp?.tech_pic }}"
                                        onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'">

                                </ion-col>
                                <ion-col no-padding no-margin>
                                    <ion-label no-padding no-margin text-wrap>With "{{ prevapp?.tech_name }}"
                                    </ion-label>
                                </ion-col>
                                <ion-col no-padding no-margin col-2>
                                    <span class="prev-app-date">{{getFromattedTime(prevapp?.app_start_time)}}</span>

                                </ion-col>
                            </ion-row>


                        </div>
                    </div>
                </ion-col>

            </ion-row>

        </ion-item>
    </div>
</ion-list>