<ion-menu [content]="content">

  <ion-header>
    <ion-navbar>
      <div class="item item-avatar">
        <img src="http://nopso.qwpcorp.com/salon/technicians/1503500276.jpg">
        <h4 class="salon-name">{{salonName}}</h4>
      </div>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
        <button ion-item menuClose *ngFor="let p of pages" class="menu-item" (click)="openPage(p)">
            <img item-left style="height:20px; width:20px;" src={{p.icon}}>
            <ion-label class="sideMenuTitle" >{{ p.title}}</ion-label>
            
          </button>
      <button ion-item menuClose class="menu-item" (click)="logOut()">
          <ion-icon item-start [name]="'power'"></ion-icon>
          Logout
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>