page-menu {
    .item.item-avatar {
        text-align: center;
    }
    .list-md {
        margin: 0px 0 16px 0;
    }
    .item.item-avatar img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-top: 25px;
    }
    .salon-name {
        color: white;
        font-weight: 100;
    }
    .menu-item {
        background: none;
        border: none;
    }
    .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
        background: none;
    }

    .item-ios.item-block .item-inner {
        border: none;
    }
    .list-ios > .item-block:first-child {
        border: none;
    }

    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
        border: none;
    }
    .button.menu-item.item.item-block {
        padding-top: 15px;
    }
    // .menu-inner > ion-header, .menu-inner > ion-content, .menu-inner {
    //     background: url(/assets/img/background.png);
    //     background-size: cover;
    // }
    ion-label.sideMenuTitle{
        font-size: 4.5vw;
        font-family: $Montserrat-Medium;
        color: white !important;
        background-color:transparent !important;
    }
    .item-md.item-block .item-inner {
        margin-left: 0px;
        border: none;
    }
    .item.item-block.item-md {
        margin-top: 5pt;
        border-bottom: none;
        
    }
    .item.item-block.item-md, .item.item-block.item-ios {
        padding-bottom: 0px;
        border-bottom: none;
    }
}